<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
		</encoder>
		<immediateFlush>false</immediateFlush>
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/spn-load-test.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>/tmp/logs-archive/spn-load-test-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<!-- each file should be at most 100MB, keep 10 days worth of history, but at most 2GB -->
			<maxFileSize>100MB</maxFileSize>
			<maxHistory>20</maxHistory>
			<totalSizeCap>2GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%date{ISO8601} %-4relative %-5level [%thread] %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- uncomment and set to DEBUG to log all failing HTTP requests -->
	<!-- uncomment and set to TRACE to log all HTTP requests -->
	<logger name="io.gatling.http.engine.response" level="TRACE">
		<appender-ref ref="ROLLING" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<!--<appender-ref ref="ROLLING" />-->
	</root>

</configuration>
